<!-- Delete button -->
<button
  id="delete"
  type="button"
  class="btn"
  (click)="delBtnPressed = true"
  title="Delete Link"
>
  Delete
</button>
<div *ngIf="delBtnPressed" class="confirm-delete">
  <div>Are you sure you want to delete button link "{{ deleteItem }}"?</div>
  <button
    id="no"
    type="button"
    class="btn btn-outline-danger"
    (click)="delBtnPressed = !delBtnPressed"
  >
    No
  </button>
  <button
    id="yes"
    type="button"
    class="btn btn-success"
    (click)="delete(index)"
  >
    Yes
  </button>
</div>
