<div class="container">
  <!--=== logo,image,mail type ===-->
  <div class="form-group col-6">
    <label for="logo">Logo: </label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="emailInfo.logo"
      (change)="updatePreviewTemplate()"
      placeholder="Logo"

      />
    <label for="image">Image: </label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="emailInfo.image"
      (change)="updatePreviewTemplate()"
      placeholder="Image"
    />

    <label for="mail_type">Mail Type: </label>
    <select
      id="mail_type"
      class="form-select"
      [(ngModel)]="emailInfo.mailType"
      (change)="titleValues(); updatePreviewTemplate()"
      required
    >
      <option value="confirm">Confirm</option>
      <option value="cancel">Cancel</option>
      <option value="reminder">Reminder</option>
      <option value="deposit">Deposit</option>
      <option value="card_details">Card Details</option>
    </select>
  </div>
  <!--=== titles ===-->
  <div class="titles form-group">
    <div class="col-6" style="margin-right: 1em">
      <label for="title">Title: </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="emailInfo.title"
        [value]="emailInfo.title"
        (change)="updatePreviewTemplate()"
        required
      />
    </div>

    <div class="col-6">
      <label for="title_greek">Title Greek: </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="emailInfo.titleGr"
        [value]="emailInfo.titleGr"
        (change)="updatePreviewTemplate()"
        required
      />
    </div>
  </div>
  <!--=== texts ===-->
  <div class="texts form-group">
    <!-- <textarea ckeditor="editorOptions" ng-model="content_two"></textarea> -->
    <div class="col-6" style="margin-right: 1em">
      <label for="text">Text: </label>

      <ckeditor [editor]="Editor" [(ngModel)]="emailInfo.text" (change)="updatePreviewTemplate()"> {{emailInfo.text}}</ckeditor>
    </div>
    <div>
      <label for="textGr">Text Greek: </label>
      <ckeditor
        [editor]="Editor"
        [(ngModel)]="emailInfo.textGr"
        (change)="updatePreviewTemplate()"
      >
      </ckeditor>
    </div>
  </div>
  <!-- === Buttons: submit, preview, previewGr === -->
  <div id="save">
    <button
      type="button"
      class="btn btn-primary"
      (click)="updatePreviewTemplate(); downloadTemplate()"
    >
      Save (.html)
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="setToEnglish(); updatePreviewTemplate()"
    >
      Preview <span *ngIf="isEnglish" style="color:green; font-weight: 900;">(ON)</span>
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="setToGreek(); updatePreviewTemplate()"
    >
      Προεπισκόπηση <span *ngIf="isGreek" style="color:green; font-weight: 900;">(ON)</span>
    </button>
  </div>

  <!-- === Preview === -->
  <div style= "margin-bottom: 2em;" [innerHTML]="sanitizer.bypassSecurityTrustHtml(previewTemplate)"></div>
</div> <!-- container -->

<!-- ================= -->

<!-- component method -->
<!-- <div class="preview">
  <preview
  *ngIf="isEnglish"
      [LOGO]="emailInfo.logo"
      [IMAGE]="emailInfo.image"
      [mailType]="emailInfo.mailType"
      [TITLE]="emailInfo.title"
      [TEXT]="emailInfo.text"
      ></preview>
      <preview
      *ngIf="isGreek"
      [LOGO]="emailInfo.logo"
      [IMAGE]="emailInfo.image"
      [mailType]="emailInfo.mailType"
      [TITLE]="emailInfo.titleGr"
      [TEXT]="emailInfo.textGr"
      ></preview>
    </div> -->

    <!-- adjacentHTML method-->
    <!-- <div #preview class="preview"></div> -->

    <!-- {{encodedExampleHtml}} -->
